@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@media only screen and (max-width: 767px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0;

  }

  .background {
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: flex-start;
    display: grid;
    background: #f5f5f5;
  }

  .header {
    width: 375px;
    height: 100%;
    position: relative;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .logoplaceholder {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  }

  .mylogo {
    text-align: center;
    color: #6070ff;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 40px;
    word-wrap: break-word;
    display: flex;
    padding-left: 15px;
  }

  .menu {
    width: 24px;
    height: 24px;
    position: relative;
  }

  .icon-hamburger {
    padding: 8px;
    left: 311px;
    top: 4px;
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }

  .headline {
    background-image: url("./header-shapes\ mobile.png");
    background-repeat: no-repeat;
    background-color: white;
    width: 375px;
    height: 604px;
    padding-left: 22px;
    padding-right: 24px;
    padding-top: 105px;
    padding-bottom: 114px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
    border-bottom-left-radius: 100px;
    border-color: aqua;
  }

  .primary-text {
    width: 327px;
    height: 150px;
    color: #172b4d;
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 52px;
  }

  .primary-text2 {
    width: 327px;
    height: 146px;
    color: #344563;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .supporttext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .letsconnect {
    color: #7f8cff;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
  }

  .fa-bars {
    width: 20px;
    height: 12px;
    left: 3px;
    top: 6px;
    position: absolute;
    color: #6070ff;
    font-size: 20px;
  }

  /* work section */
  .works {
    width: 100vw;
    height: auto;
    display: grid;
    gap: 88px;
    justify-items: center;
    align-items: flex-start;
    background: #f5f5f5;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 114px;
    padding-bottom: 114px;
  }

  .cardworks {
    width: 100%;
    height: 100%;
    padding: 16px;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    border: 1px #dfe1e6 solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: inline-flex;
  }

  .img1 {
    width: 295px;
    height: 220px;
    position: relative;
    border-radius: 5%;
  }

  .uppertext {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
  }

  .maintitle {
    width: 295px;
    height: 36px;
    color: #172b4d;
    font-size: 32px;
    font-family: Poppins, serif;
    font-weight: 700;
    line-height: 44px;
    word-wrap: break-word;
  }

  .container-of-maintext {
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: inline-flex;
  }

  .maintext {
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: #344563;
    font-size: 13px;
    font-family: Poppins, serif;
    font-weight: 600;
    line-height: 16px;
    word-wrap: break-word;
  }

  .counter {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
    border-radius: 9999px;
  }

  .info {
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    gap: 10px;
  }

  .maintext1 {
    color: #7a869a;
    font-size: 13px;
    font-family: Poppins, serif;
    font-weight: 600;
    line-height: 16px;
    word-wrap: break-word;
  }

  .primarytext {
    width: 295px;
    height: 76px;
    color: #344563;
    font-size: 15px;
    font-family: Poppins, serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .tags {
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .tag {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #ebebff;
    border-radius: 8px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .tagtext {
    color: #6070ff;
    font-size: 12px;
    font-family: Poppins, serif;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
  }

  .buttoncontainer {
    width: 295px;
    height: 72px;
    position: relative;
  }

  button {
    display: flex;
    padding: 12px;
    left: 0;
    top: 12px;
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    border: 1px #6070ff solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: white;
  }

  .SeeProject {
    text-align: center;
    color: #396df2;
    font-size: 17px;
    font-family: Poppins, serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    word-wrap: break-word;
  }

  .maintitle_multipost {
    height: 80px;
    width: 295px;
    color: #172b4d;
    font-size: 32px;
    font-family: Poppins, serif;
    font-weight: 700;
    line-height: 44px;
    word-wrap: break-word;
  }

  .AboutMyself {
    width: 115%;
    height: 200%;
    background-color: white;
    border-top-right-radius: 80px;
    padding: 114px 24px 114px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
  }

  .aboutmyselftext {
    color: #172b4d;
    text-align: left;
    font-size: 40px;
    line-height: 52px;
    font-family: poppins, serif;
    font-weight: 700;
    position: relative;
    width: 327px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .PrimaryText2 {
    width: 327px;
    height: 147px;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .SupportingText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .LetsConnect {
    color: #7f8cff;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    position: relative;
    left: -100px;
    padding-top: 12px;
    padding-bottom: 16px;
  }

  .iconsimage {
    position: relative;
    left: -60px;
    top: -15px;
  }

  .buttonleft {
    position: relative;
    left: -13px;
    top: -15px;
  }

  .portfolio {
    list-style: none;
    padding: 0 0;
    background-color: white;
  }

  .skills {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 26px 16px 12px;
    border-bottom: 0.1px solid rgb(192, 191, 191);
  }

  .skills-noborder {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 26px 16px 12px;
  }

  .drop-down-items {
    align-items: center;
    display: flex;
    gap: 12px;
    color: #253858;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 12px 0;
    border-radius: 8px;
    padding: 12px 12px;
    background: #f7f7f9;
  }
}
